$pageheader-navbar-bg-color:                     $secondary-dark;
$pageheader-navbar-bg-color-desktop:             $secondary;
$pageheader-navbar-height:                        3.0rem;
$pageheader-box-shadow:                           0 2px 3px 0 rgba(0, 0, 0, 0.33);