$icon-spacing-basis: $global-spacing-basis !default;
$icon-margin-bottom: $grid-unit * 2.25 * $icon-spacing-basis !default;
$icon-fonticon-font-size: $font-size-base * 2.5 !default;

/* need to fix encompass as this is set to $secondary
 *  $icon-fonticon-color: $icon-link-color !default;
 */