$tag-padding-blocked: $grid-unit $grid-unit $grid-unit $grid-unit !default;
$tag-background-color-blocked: $white !default;
$tag-color-blocked: $primary !default;
$tag-border-blocked: $btn-border-radius !default;
$tag-margin-bottom-blocked: 1rem !default;
$tag-font-weight-blocked: $font-weight-bold !default;