.searchbar {
    margin-bottom: 40px;

    &_heading {
        text-align: center;
        margin-bottom: 30px;
    }

    &_form {
        margin: 0 auto;
        position: relative;
        min-width: 300px;
        max-width: 500px;

        label {
            display: block;
        }
    }

    &_input[type="text"] {
        display: block;
        padding-right: 40px;
        width: 100%;
    }

    &_icon {
        background: none;
        border: none;
        color: $text-disabled;
        position: absolute;
        right: 14px;
        top: 17px;
    }
}