$pageheader-btn-bg-color-mobile:                 inherit;

$pageheader-navbar-bg-color:                     $secondary;
$pageheader-navbar-bg-color-desktop:             $pageheader-navbar-bg-color;
$pageheader-navbar-height:                        3.75rem;