@use "sass:list";

$navbar-item-font-size:               0.875rem; // 14px if base font 16px
$navbar-item-font-size-desktop:       1rem; // 16px if base font 16px
$navbar-item-font-scaler:             vw-calc($navbar-item-font-size-desktop);
$navbar-item-font:                    $font-weight-normal list.slash($navbar-item-font-size-desktop, 1.875rem) $font-family-base;

$navbar-item-text-color:              $white;
$navbar-item-text-color-desktop:      $white;
$navbar-item-text-color-active:       $white;
$navbar-item-bg-color-active:         $primary;
$navbar-item-bg-color-hover-mobile:   $navbar-item-bg-color-active;
$navbar-item-separator-color:         transparent;
$navbar-item-underline-color-active:  transparent;

$navbar-title-separator-color:        $white;

$navbar-toggle-fg-clr:                $white;
$navbar-toggle-bg-clr:                $primary;

$dropdown-bg:                         $primary-light;
$dropdown-border-width:               0;

$dropdown-font-size:                  0.875rem; //14px if base font is 16
$dropdown-font-size-desktop:          1.000rem; //16px if base font is 16px
$dropdown-font-scaler:                vw-calc($dropdown-font-size-desktop);
$dropdown-font-weight:                bold;

$dropdown-link-align:                 center;
$dropdown-link-color:                 $white;
$dropdown-link-hover-color:           $white;
$dropdown-link-hover-bg:              $primary-lightest;
$dropdown-link-transform:             none;

$dropdown-spacer:                     0.0;