$pagination-number-text-decoration-active: unset;
$pagination-number-clr: $tertiary;
$pagination-number-clr-active: $white;
$pagination-number-bg-clr-active: $primary;
$pagination-number-width: 32px;
$pagination-number-padding: 0;
$pagination-number-border-radius: 50%;
$pagination-prev-next-bg-clr: transparent;