@use "sass:list";

$navbar-item-font-size:                 0.875rem;
$navbar-item-font-size-desktop:         1rem;
$navbar-item-font-scaler:               vw-calc($navbar-item-font-size-desktop);

$navbar-item-font:                      $font-weight-bold list.slash($navbar-item-font-size-desktop, 1.875rem) $font-family-base;
$navbar-item-font-weight-desktop:       $font-weight-bold;
$navbar-item-text-color:                $white;
$navbar-item-text-color-active:         $navbar-item-text-color;
$navbar-item-text-color-desktop:        $navbar-item-text-color;
$navbar-item-bg-color-active:           $secondary-dark;
$navbar-item-bg-color-hover-mobile:     $secondary-dark;
$navbar-item-separator-color:           $tertiary-lightest;
$navbar-item-underline-animation:       none;
$navbar-item-underline-color-active:    transparent;
$navbar-item-underline-border-radius:   0;

$navbar-title-separator-color:          $navbar-item-separator-color;
$navbar-toggle-fg-clr:                  $gray-600;
$navbar-toggle-bg-clr:                  transparent; 

$dropdown-bg:                           $secondary;
$dropdown-box-shadow:                   none;
$dropdown-spacer:                       $navbar-item-underline-offset-bottom * -1;

$dropdown-font-line-height:             1;
$dropdown-font-size:                    0.75rem;  // 12px if base font is 16px
$dropdown-font-size-desktop:            0.875rem; // 14px if base font is 16px
$dropdown-font-scaler:                  vw-calc($dropdown-font-size-desktop);
$dropdown-font-weight:                  normal;

$dropdown-item-height:                  2.875rem; // 46px if base font is 16px
$dropdown-item-padding-x:               1rem;
$dropdown-item-padding-y:               1rem;

$dropdown-link-align:                   left;
$dropdown-link-color:                   $white;
$dropdown-link-hover-color:             $white;
$dropdown-link-hover-bg:                $secondary-dark;
$dropdown-link-seperator:               none;
$dropdown-link-transform:               none;