$breadcrumb-padding-y-desktop: $breadcrumb-padding-y !default;
$breadcrumb-padding-x-desktop: $breadcrumb-padding-x !default;

$breadcrumbnavigation-margin-bottom: 0 !default;
$breadcrumbnavigation-link-text-decoration: underline !default;
$breadcrumbnavigation-item-font-size: $font-size-base !default;
$breadcrumbnavigation-item-font-weight: $font-weight-bold !default;
$breadcrumbnavigation-link-color: $primary !default;