$pageheader-btn-bg-color-mobile:                 inherit;

$pageheader-navbar-bg-color:                     $secondary;
$pageheader-navbar-bg-color-desktop:             $pageheader-navbar-bg-color;
$pageheader-navbar-height:                        3rem;
$pageheader-box-shadow:                           0 2px 3px 0 rgba(0, 0, 0, 0.33);