/* 
 * setting to seven as we have to assume most text 
 * will be normal font weight and the size less then 18.666px, 
 * which means to pass AAA WCAG standards, 
 * the minimum contrast ratio has to be 7.0.
 * 4.5 is the minimum contrast ratio for bold text
 * that is >= 18.666px and if not bold the text size 
 * has to be >= 24px.
 */
$foo-min-contrast-ratio: 7.0 !default; 

@function default-fg-color($background) {
  $contrast-ratio-white: contrast-ratio($background, $white);
  $contrast-ratio-black: contrast-ratio($background, $black);
  $contrast-ratio-text-standard: contrast-ratio($background, $text-standard);

  @if ($contrast-ratio-text-standard >= $foo-min-contrast-ratio) {
    @return $text-standard;
  }

  @if ($contrast-ratio-black > $contrast-ratio-white) {
    @return $black;
  }

  @return $white;
}

@function calc-bg-color($bgColor, $lumanence) {
  $lumanceTable: (
    100: 80%,
    200: 60%,
    300: 40%,
    400: 20%,
    600: 20%,
    700: 40%,
    800: 60%,
    900: 80%
  );

  $percent: map-get($lumanceTable, $lumanence);

  @if ($lumanence == 0) {
    @return $black;
  }

  @if ($lumanence == 500) {
    @return $bgColor;
  }

  @if ($lumanence < 500) {
    @return tint-color($bgColor, $percent);
  }

  @return shade-color($bgColor, $percent);
}