$genericlist-margin-bottom: $spacer-3x !default;
$genericlist-item-margin-bottom-stacked: $spacer-1x !default;
$genericlist-grid-layouts: 12 !default;
$genericlist-grid-breakpoints: xxl xl lg md sm !default;
$genericlist-grid-column-gap: $spacer-3x !default;
$genericlist-grid-row-gap: $spacer-3x !default;
$genericlist-fluid-item-margin-bottom: $spacer-3x !default;
$genericlist-fluid-item-margin-right: $spacer-3x !default;