@use "sass:list";

$navbar-item-font-size:                 0.875rem;
$navbar-item-font-size-desktop:         1rem;
$navbar-item-font-scaler:               vw-calc($navbar-item-font-size-desktop);

$navbar-item-font:                      $font-weight-bold list.slash($navbar-item-font-size-desktop, 1.875rem) $font-family-base;
$navbar-item-font-weight-desktop:       $font-weight-bold;
$navbar-item-text-color:                $white;
$navbar-item-text-color-active:         $navbar-item-text-color;
$navbar-item-text-color-desktop:        $navbar-item-text-color;
$navbar-item-bg-color-active:           $tertiary-light;
$navbar-item-bg-color-hover-mobile:     $tertiary-light;
$navbar-item-separator-color:           $primary;
$navbar-item-underline-color-active:    transparent;

$navbar-title-separator-color:          $navbar-item-separator-color;
$navbar-toggle-fg-clr:                  $secondary;
$navbar-toggle-bg-clr:                  transparent; 

$dropdown-spacer:                       0;
$dropdown-bg:                           $white;

$dropdown-font-line-height:             1;
$dropdown-font-size:                    0.75rem;  // 12px if base font is 16px
$dropdown-font-size-desktop:            0.875rem; // 14px if base font is 16px
$dropdown-font-scaler:                  vw-calc($dropdown-font-size-desktop);
$dropdown-font-weight:                  bold;

$dropdown-item-height:                  1.875rem; // 30px if base font is 16px
$dropdown-item-padding-x:               1.25rem;
$dropdown-item-padding-y:               0.5rem;

$dropdown-link-color:                   $black;
$dropdown-link-hover-color:             $white;
$dropdown-link-hover-bg:                $primary;
$dropdown-link-transform:               none;