$title-color-primary: $primary !default;
$title-color-dark: $dark !default;
$title-padding-blocked: ($grid-unit * 2) ($grid-unit * 3) ($grid-unit * 2) ($grid-unit * 2) !default;
$title-background-color-blocked: $white !default;
$title-color-blocked: $headings-color !default;